#topButton {
    visibility: hidden;
    position: fixed;
    bottom: 1.2rem;
    right: 1.5rem;
    cursor: pointer;
    padding: 15px;
    border-radius: 2rem;
    font-size: 1.5rem;
    background-color: var(--text-color);
    color: var(--body-bg);
    border: solid 1px var(--text-color);
    transition: all 0.3s ease;
}

#topButton:hover {
    background-color: var(--body-bg) !important;
    color: var(--text-color) !important;
}